 body{
      background-image: url("j.jpg");
    }
    h1{
      color: gold;
    }
    p1{
      color: aqur;
    }
    .j{
      width: 300px;
    }
    .p{
      width: 300px;
      height: 200px;
    }  
    .y{
      width: 300px;
      height: 200px;
    }   
    p1{
      font-size: 20px;
    }
    .e{
      width: 300px;
    }
    video{
      padding-top: 90px;
    }